<div class="container">
  <div class="payment-container">
    <div class="payment-logos d-flex align-items-center justify-content-between">
      <a href=""><img src="<%= image_path('mastercard_logo.png') %>" alt="" style="width: 100px"></a>
      <a href=""><img src="<%= image_path('visa_logo.png') %>" alt="" style="width: 100px"></a>
      <a href=""><img src="<%= image_path('paypal_logo.png') %>" alt="" style="width: 100px"></a>
    </div>
    <div class="payment-informations">
      <h3>Card Name</h3>
      <input type="text">
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <div class="payment-informations">
        <h3>Card Number</h3>
        <input type="text">
      </div>
      <div class="payment-informations">
        <h3>CVV</h3>
        <input type="text" placeholder="···">
      </div>
    </div>
    <div class="payment-informations">
      <h3>Expiration date</h3>
      <input type="text" placeholder="MM/YY">
    </div>
    <%= link_to "Confirm payment", booking_path(@booking), class:"btn btn-flat" %>
  </div>
</div>
