<div class="mt-10 foooot">
  <div class="container">
    <div class="footer-top">
      <div class="footer-info">
        <h3>A propos</h3>
        <ul class="information">
          <li>Nous rejoindre</li>
          <li>Le RSE chez Dad</li>
          <li>Presse</li>
        </ul>
      </div>
        <div class="footer-info">
        <h3>Mon compte</h3>
        <ul class="information">
          <li>Nous contacter</li>
          <li>Centre d'aide</li>
          <li>Me connecter</li>
        </ul>
      </div>
        <div class="footer-info">
        <h3>Resources</h3>
        <ul class="information">
          <li>Blog</li>
          <li>Boite à outils</li>
          <li>Témoignages client</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
