
<div class="container search-container">

  <div class="search-form-control form-group">
    <%= form_tag trips_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a planet"
      %>
      <%= button_tag "Search", class:"btn btn-flat" do %>
        <i class="fas fa-search"></i> Search
      <% end %>
    <% end %>
  </div>
  
</div>
