<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="cards">
      <div class="card-trip">
        <img src="https://static.lexpress.fr/medias_11586/w_1024,h_573,c_crop,x_0,y_72/w_1000,h_563,c_fill,g_north/v1583494804/mars-planete-mars-nasa_5932480.jpg" />
        <div class="card-trip-infos">
            <h2>Uranus</h2>
            <p>Short description here!</p>
        </div>
      </div>
      <div class="card-trip">
        <img src="https://www.sciencesetavenir.fr/assets/img/2019/08/13/cover-r4x3w1000-5d5271241b053-jupiter.jpg" />
        <div class="card-trip-infos">
            <h2>Jupiter</h2>
            <p>Short description here!</p>
        </div>
      </div>
      <div class="card-trip">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Neptune.jpg/280px-Neptune.jpg" />
        <div class="card-trip-infos">
            <h2>Npptune</h2>
            <p>Short description here!</p>
        </div>
      </div>
      <div class="card-trip">
        <img src="https://www.stelvision.com/astro/wp-content/uploads/2019/10/Mercury_false_colors_credit_Nasa.jpg" />
        <div class="card-trip-infos">
            <h2>Venus</h2>
            <p>Short description here!</p>
        </div>
      </div>
      <div class="card-trip">
        <img src="https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/9/1/3/913a9d8ec7_50147018_gsfc-20171208-archive-e001435-orig.jpg" />
        <div class="card-trip-infos">
            <h2>Title here</h2>
            <p>Short description here!</p>
        </div>
      </div>
      <div class="card-trip">
        <img src="https://cdn.radiofrance.fr/s3/cruiser-production/2021/02/58d4e6fa-8e24-488c-8fff-220f792a621e/838_gettyimages-460713159.jpg" />
        <div class="card-trip-infos">
            <h2>Title here</h2>
            <p>Short description here!</p>
        </div>
      </div>
      <div class="card-trip">
        <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/1/a/a/1aa5e55057_50157976_plane-te-b-hd.jpg" />
        <div class="card-trip-infos">
            <h2>Title here</h2>
            <p>Short description here!</p>
        </div>
      </div>
      <div class="card-trip">
        <img src="https://www.letelegramme.fr/images/2020/12/17/la-planete-saturne-et-ses-anneaux_5445663_1000x526.jpg?v=1" />
        <div class="card-trip-infos">
            <h2>Title here</h2>
            <p>Short description here!</p>
        </div>
      </div>
  </div>
</div>
