.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

//// Circle deletion

// .circle {
//     width: 40px;
//     height: 40px;
//     position: absolute;
//     bottom: -20px;
//     right: 0;
//     border-radius: 50%;
//     border: 2px solid #fff;
//     margin: 30vh auto;
//     cursor: pointer;
//     z-index: 2;
//     transform: rotate(90deg);
// }
// // .before,
// // .after {
// //     content: '';
// //     position: absolute;
// //     width: 30px;
// //     height: 2px;
// //     background-color: white;
// //     border-radius: 0;
// //     top: 27px;
// //     -webkit-transition: 150ms ease-out;
// //     -moz-transition: 150ms ease-out;
// //     -o-transition: 150ms ease-out;
// //     transition: 150ms ease-out;
// //     z-index: 0;
// // }
// // .before {
// //     left: 7px;
// // }
// // .after {
// //     -webkit-transform: rotate(-90deg);
// //     -moz-transform: rotate(-90deg);
// //     transform: rotate(-90deg);
// //     right: 7px;
// // }
// // .circle:hover {
// //     border: 1px solid #717171;
// //     padding-bottom: 1px;
// // }
// // .circle:hover .before {
// //     -ms-transform: rotate(225deg);
// //     -webkit-transform: rotate(225deg);
// //     -moz-transform: rotate(225deg);
// //     transform: rotate(225deg);
// //     -webkit-transition: 300ms ease-in-out all;
// //     -moz-transition: 300ms ease-in-out all;
// //     -o-transition: 300ms ease-in-out all;
// //     transition: 300ms ease-in-out all;

// // }
// // .circle:hover .after {
// //     -ms-transform: rotate(-225deg);
// //     -webkit-transform: rotate(-225deg);
// //     -moz-transform: rotate(-225deg);
// //     transform: rotate(-225deg);
// //     -webkit-transition: 250ms ease-in all;
// //     -moz-transition: 250ms ease-in all;
// //     -o-transition: 250ms ease-in all;
// //     transition: 250ms ease-in all;
// // }
