.box {
  display: flex;

}

li {
  list-style: none;
}

.gras {
  font-weight: bold;

}

.violet {
  color: black;
}

.padding {
  padding-left: 25px;
  margin-top: 7px;
}

.trip-on {
  color: #000000;
}

.card-trip-show {
  padding: 0px;

  overflow: hidden;
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  height: 700px;
  width: 800px;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;

    h3 {

      color: black;
      padding-left: 40px;
    }

    h6 {
      padding-left: 15px;
    }

    h2 {
      padding-top: 15px;
      padding-left: 0px;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }

    p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    opacity: 1;
    margin: 0;
    }
    img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    }
    &:hover {
      box-shadow: 0 0 40px rgba(0,0,0,0.3);
      transition: all 300ms ease-in-out;
    }
}

.button-perso {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 500px;
  background-color: rgb(91, 69, 214);
  color: white;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 15px;
  &:hover {
    color: white;
    background-color: rgb(57, 47, 116);
    opacity: 1;
  }
}

#lien {
  color:rgb(91, 69, 214);
  font-size: 14px;
}

.card-trip-show-2  {
  position: sticky;
  padding: 0px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  height: 400px;
  width: 500px;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;

    h3 {
      padding-top: 15px;
      padding-left: 15px;
      color: rgb(91, 69, 214)
    }

    h6 {
      padding-left: 15px;
    }

    h2 {
      padding-top: 15px;
      padding-left: 15px;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }

    p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    opacity: 1;
    margin: 0;
    }
    img {
    width: 100%;
    object-fit: cover;
    }
    &:hover {
      transition: all 300ms ease-in-out;
      box-shadow: 0 0 0 3px rgb(91, 69, 214);
    }
}
