.footer {
  background: black;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-center {
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.sticky-footer {
    min-height: calc(100vh - 394px); //300px footer + 94px navbar
}


.footer-copyright {
  text-align:center;
  font-size:16px;
  margin-top:15px;
}
