.payment-container {
  margin: 30px 350px;
  padding: 30px;
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(91, 69, 214);
}

.payment-informations input {
  border-radius: 5px;
  width: 250px;
}

.payment-informations {
  margin: 8px 0;
}

.payment-logos {
  margin-bottom: 16px;
}

.payment-container .btn {
  margin-top: 16px;
  display: block;
}

.payment-container .btn {
  font-size: 20px;
}

.total-price {
  margin: 16px 0;
}
